
@{
    ViewBag.Title = "Thông Báo Email";
    Layout = "~/Views/Shared/LayoutAccounts.cshtml";
}

<div class="row">
    @*<div class="col-lg-6 d-none d-lg-block bg-password-image">
            <a href="@Url.Action("AllProducts", "Products")">
                <img src="~/Content/images/anhlogo.png" />
            </a>
        </div>*@
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">@ViewBag.TitleH</h1>
                <p class="mb-4">
                    @ViewBag.Msg
                </p>
            </div>
            <hr>
            <a href="@Url.Action("AllProducts", "Products")" class="btn btn-primary btn-user btn-block">Quay Lại Trang</a>
            <hr>
        </div>
    </div>
</div>
